input:where(
  :not(
    [type="checkbox"],
    [type="radio"],
    [type="range"]
  )
) {
  height: calc(
          (1rem * var(--line-height)) + (var(--form-element-spacing-vertical) * 2) +
          (var(--border-width) * 2)
  );
}

fieldset {
  margin-bottom: var(--spacing);
}

label,
fieldset legend {
  display: block;
  margin-bottom: calc(var(--spacing) * 0.25);
  font-weight: var(--form-label-font-weight);
}

/* blocks, 100% */
input:where(
  :not(
    [type="checkbox"],
    [type="radio"]
  )
),
select,
textarea {
  width: 100%;
}

/* padding */
input:where(
  :not(
    [type="checkbox"],
    [type="radio"],
    [type="range"]
  )
),
select,
textarea {
  padding: var(--form-element-spacing-vertical) var(--form-element-spacing-horizontal);
}

/* reset appearance */
select {
  appearance: none;
}

/* commons styles */
input,
select,
textarea {
  --background-color: var(--form-element-background-color);
  --border-color: var(--form-element-border-color);
  --color: var(--form-element-color);
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  outline: none;
  background-color: var(--background-color);
  color: var(--color);
  font-weight: var(--font-weight);
}

select:where(
  :not(
    [multiple],
    [size]
  )
) {
  padding-right: calc(var(--form-element-spacing-horizontal) + 1.5rem);
  padding-left: var(--form-element-spacing-horizontal);
  padding-inline-start: var(--form-element-spacing-horizontal);
  padding-inline-end: calc(var(--form-element-spacing-horizontal) + 1.5rem);
  background-image: var(--icon-chevron);
  background-position: center right 0.75rem;
  background-size: 1rem auto;
  background-repeat: no-repeat;
}

/* placeholder */
input::placeholder,
textarea::placeholder {
  color: var(--form-element-placeholder-color);
  opacity: 1;
}

/* focus */
input:where(
  :not(
    [type="submit"],
    [type="button"],
    [type="reset"],
    [type="range"],
    [readonly]
  )
),
select,
textarea {
  &:focus {
    --border-color: var(--form-element-focus-border-color);
  }
}

/* disabled */
input:where(
  :not(
    [type="submit"],
    [type="button"],
    [type="reset"]
  )
)[disabled],
select[disabled],
textarea[disabled] {
  --background-color: var(--form-element-disabled-background-color);
  --border-color: var(--form-element-disabled-border-color);
  opacity: var(--form-element-disabled-opacity);
  pointer-events: none;
}
