@mixin file-selector-button-hover {
  --background-color: var(--secondary-hover);
  --border-color: var(--secondary-hover);
}

@mixin file-selector-button {
  --background-color: var(--secondary);
  --border-color: var(--secondary);
  --color: var(--secondary-inverse);
  margin: calc(var(--form-element-spacing-vertical) * -1) calc(var(--form-element-spacing-horizontal) * -1);
  margin-inline-end: var(--form-element-spacing-horizontal);
  padding: var(--form-element-spacing-vertical) var(--form-element-spacing-horizontal);
  border: 0;
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  border-inline-end: var(--border-width) solid var(--border-color);
  background-color: var(--background-color);
  color: var(--secondary-inverse);
  cursor: pointer;

  &:is(:hover, :active, :focus) {
    @include file-selector-button-hover;
  }
}

input[type="file"] {
  &::file-selector-button {
    @include file-selector-button;
  }

  &::-webkit-file-upload-button {
    @include file-selector-button;
  }
}