/* dialog */
dialog {
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  width: inherit;
  min-width: 100%;
  height: inherit;
  min-height: 100%;
  padding: var(--spacing);
  border: 0;
  backdrop-filter: var(--dialog-overlay-backdrop-filter);
  background-color: var(--dialog-overlay-background-color);
  color: var(--color);

  &[open] {
    display: flex;
  }

  // Content
  article {
    max-height: calc(100vh - var(--spacing) * 2);
    padding: var(--spacing) var(--spacing);
    overflow: auto;
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius);
    background: var(--dialog-background-color);

    > header,
    > footer {
      margin-right: calc(var(--spacing) * -1);
      margin-left: calc(var(--spacing) * -1);
      padding: var(--spacing) var(--spacing);
      background-color: var(--dialog-sectionning-background-color);
    }

    > header {
      margin-top: calc(var(--spacing) * -1);
      margin-bottom: var(--spacing);
      border-bottom: var(--border-width) solid var(--dialog-border-color);
      border-top-right-radius: var(--border-radius);
      border-top-left-radius: var(--border-radius);
    }

    > footer {
      margin-top: var(--spacing);
      margin-bottom: calc(var(--spacing) * -1);
      border-top: var(--border-width) solid var(--dialog-border-color);
      border-bottom-right-radius: var(--border-radius);
      border-bottom-left-radius: var(--border-radius);
    }

    p {
      &:last-of-type {
        margin: 0;
      }
    }
  }
}
