/* role="group" */

[role="group"] {
  display: flex;
  align-items: center;

  > * {
    width: initial;
    margin-bottom: initial;

    &:where(:not(:first-child)) {
      border-left: initial;
      border-top-left-radius: initial;
      border-bottom-left-radius: initial;
    }

    &:where(:not(:last-child)) {
      border-top-right-radius: initial;
      border-bottom-right-radius: initial;
    }
  }
}
